node_modules
.next
.git
.gitignore
npm-debug.log*
Dockerfile.selfhost
.dockerignore
docker-compose.yml
.env*
!.env.docker.example
src/generated/prisma
coverage
.vercel
*.tsbuildinfo
.DS_Store
README.md
